<nav class="navbar navbar-primary" style="background-color: #D3D3D3;">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">NPR Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
  <button type="button" class="btn  btn-lg">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span><a href="/scrape">  Home </a>
  </button>
 
  <button id="mysavedItem" type="submit" class="btn  btn-lg">
  <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><a href="/mysavedItem"></span> Saved Articls
  </button>

  <button type="submit" class="btn  btn-lg">
  <span class="glyphicon glyphicon-search" aria-hidden="true" ><a href="/articles"></span> View Articls</a>
  </button>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>